.section-skill{
    width: 100%;
    position: relative;
    bottom: 5px;
    z-index: 6;
    background-color: #ffffff;
    background: linear-gradient(450deg,rgba(32, 100, 32, 0.053), rgb(1, 105, 32));
    /* border: 2px solid red; */
}

.h2-skill{
    text-align: center;
    padding: 10px;
    background-color: black;
    letter-spacing: 2px;
    color: rgb(248, 6, 6);
}

.skill{
    position: relative;
    top: 5px;
    background-color:  #ffffff;
}

.skill-contenedor{
    width: 100%;
    display: flex;
    position: relative;
    top: 5px;
    flex-direction: column;
    background: radial-gradient(circle, rgba(20,239,66,1) 0%, rgba(16,193,53,1) 0%, rgba(13,154,42,1) 0%, rgba(10,117,32,1) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,0) 100%);
    line-height: 25px;
    font-size: 13px;
}

.skill-hulk{
    width: 100%;
    padding: 10px 15px;
    /* border: 2px solid rgb(8, 12, 241); */
}

.menu{
    width: 100%;
    height: 7px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #29879c;
}

.menu div{
    position: relative;
    width: 0;
    height: 5px;
    background-color: #29879c;
}



/*--------------------------------Animación-------------------------*/

#fuerza{
    animation: fuerza 2s forwards;
}

@keyframes fuerza{
    100%{
        width: 100%;
    }
}

#salto{
    animation: salto 2s forwards;
}

@keyframes salto{
    100%{
        width: 90%;
    }
}

#velocidad{
    animation: Velocidad 2s forwards;
}

@keyframes Velocidad{
    100%{
        width: 80%;
    }
}

#resistencia{
    animation: resistencia 2s forwards;
}

@keyframes resistencia{
    100%{
        width: 70%;
    }
}

#inmunidad{
    animation: inmunidad 2s forwards;
}

@keyframes inmunidad{
    100%{
        width: 90%;
    }
}

#regeneracion{
    animation: regeneracion 2s forwards;
}

@keyframes regeneracion{
    100%{
        width: 85%;
    }
}

/*-------------------- Media Queries---------------------*/


@media screen and (768px <= width){

    .skill-hulk{
        width: 50%;
        padding: 15px 10px;
        /* border: 2px solid rgb(8, 12, 241); */
    }
    .skill-contenedor{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        line-height: 25px;
        font-size: 13px;
        /* border: 2px solid rgb(8, 12, 241); */
    }
}