.main{
    width: 100%;
    position: relative;
    border: 2px solid red;
}

.image{
    width: 100%;
    position: relative;
    margin: 0 auto;
    border: 2px solid rgb(0, 255, 76);
}

.image h1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.image p{
    width: 100%;
}
/*----------------------box 2 --------------------*/

.banner{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    margin: 0 auto;
    border: 2px solid rgb(28, 8, 209);
}
.image2{
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 0 auto;
    border: 2px solid rgb(0, 255, 76);
}

.banner3{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    border: 2px solid rgb(28, 8, 209);
}
